/* ---------------------------------------------------------------
   # Colors
\* ------------------------------------------------------------- */

$color-branding: (
  primary: blueviolet,
  secondary: orange,
  terciary: #2ad3c0,
  complementary: #d32aab,
  default: #cdcdcd
);

$color-semantics: (
  error: #f00,
  warning: #f9b677,
  success: #40c461,
  information: #5075ea
);

/* ---------------------------------------------------------------
   # Spacing
\* ------------------------------------------------------------- */

$spacing: (
  tiny: 0.8,
  small: 1.6,
  default: 2,
  medium: 3,
  large: 6
);

/* ---------------------------------------------------------------
   # Fonts
\* ------------------------------------------------------------- */

$font-familys: (
  default: "arial",
  title: "Roboto"
);

$font-sizes: (
  h1: 3.2,
  h2: 2.8,
  h3: 2.4,
  h4: 2,
  h5: 1.8,
  h6: 1.4,
  p: 1.3
);
